API_BASE_URL=https://monethinkapi.azurewebsites.net

AGENT_MCP_URL=http://127.0.0.1:8001/mcp
DATA_MCP_URL=http://127.0.0.1:8000/mcp

# Valores pueden ser "http" o "stdio" sin commillas.
MCP_AGENT_TRANSPORT=http

# Modelo para usar en AWS Bedrock
AWS_BEDROCK_MODEL=us.anthropic.claude-sonnet-5

# Claves para acceder a instancia de AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-west-1